#generalDiv {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  gap: 50px;
}

#overallStat {
  display: flex;
  justify-content: space-between;
}

.card {
  background: white;
  border-radius: 12px;
  width: 300px;
  padding: 45px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin-right: 30px;
}

#academicBox {
  display: flex;
}

.add-term-button {
  margin-left: auto;
  margin-right: 30px;
  width: 150px;
  border-radius: 15px;
  background-color: rgba(39, 150, 206, 0.875);
  color: white;
  font-weight: 900;
  font-size:large
}

#termCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 12px;
  width: 1200px;
  padding: 45px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.add-first-term-button {
  margin-top: 25px;
  background-color: rgba(39, 150, 206, 0.875);
  color: white;
  font-weight: 900;
  padding: 10px;
  border-radius: 12px;
  font-size: large; 
}
