#generalDiv {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
  padding: 16px;
  box-sizing: border-box;
}
* { box-sizing: border-box; }

.text {
  font-size: 18px;
}

#overallStat {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  flex: 1 1 220px;
  background: white;
  border-radius: 12px;
  width: auto;
  padding: 24px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#academicBox {
  display: flex;
}
.academic-header{
  font-size: 18px;
  font-weight:bold;
}

.add-term-button {
  margin-left: auto;
  margin-right: 30px;
  width: 150px;
  border-radius: 12px;
  background-color: rgba(39, 150, 206, 0.875);
  color: white;
  font-weight: 900;
  font-size:large;
  padding: 10px;
  cursor: pointer;
}

#termContainer {
  background: white;
  border-radius: 12px;
  width: 100%;
  padding: 45px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.term-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.term-header {
  display: flex;
  justify-content: space-between;
}

.term-name {
  font-size: 25px;
  font-weight:bolder;
}

.delete-term-button {
  border: none;
  background: white;
  padding: 0px;
  cursor: pointer;
}

.icon {
  width: 20px;
}

.term-info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}


.add-first-term-button {
  margin-top: 25px;
  background-color: rgba(39, 150, 206, 0.875);
  color: white;
  font-weight: 900;
  padding: 10px;
  border-radius: 12px;
  font-size: large; 
  cursor: pointer;
}

@media (max-width: 600px) {
  #overallStat {flex-direction: column; }
  .card {width: 100%}

  #academicBox {flex-direction: column; align-items: stretch; }
  .add-term-button {width: 100%;}
}

